<div fxLayout="column" fxLayoutAlign="start none" style="height: 100%;">
  <mat-drawer-container style="height: 100%;">
    <mat-drawer mode="over" #drawer style="width: 50%;">
      <div fxLayout="column" fxLayoutAlign="start none" fxFlex>
        <button mat-raised-button (click)="openDialog()">Adicionar</button>
        <div fxFlex="90">
          <mat-card fxFlex style="overflow: auto;">
            <mat-chip-list #chipList *ngFor="let item of itemsTodo;let i = index">
              <mat-chip (click)="checkItem(item);drawer.toggle()">
                <span [ngClass]="item.checked ? 'checkedClass' : 'uncheckedClass'">{{ item.nome }}</span>
                <button matChipRemove>
                  <mat-icon>add</mat-icon>
                </button>
              </mat-chip>
            </mat-chip-list>
          </mat-card>
        </div>
        <button mat-raised-button (click)="resetItemsTodo()">Limpar</button>
      </div>
    </mat-drawer>
    <mat-drawer-content fxLayout="column" fxLayoutAlign="start none" style="height: 100%;">
      <mat-toolbar>
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span fxFlex>{{ sum | currency:'BRL':'' }}</span>
        <span class="example-spacer"></span>
        <button mat-icon-button [matMenuTriggerFor]="menuGeral">
          <mat-icon matBadge="{{count}}" matBadgeOverlap="true">shopping_cart</mat-icon>
        </button>
        <mat-menu #menuGeral="matMenu">
          <button mat-menu-item (click)="resetAll()" [disabled]="items.length==0">
            Esvaziar carrinho
          </button>
        </mat-menu>
      </mat-toolbar>
      <mat-card fxFlex style="overflow: auto;">
        <div *ngFor="let item of items;let i = index">
          <mat-card fxLayout="row" fxLayoutAlign="start center" fxFlex style="margin-bottom: 5px;">
            <div fxFlex="80">
              <p><span style="font-size: 10px;">{{ item.count }} X</span> {{ item.valor | currency:'BRL':'' }}</p>
              <div>{{ item.nome }}</div>
            </div>
            <div fxLayout="row" fxLayoutAlign="end">
              <button mat-icon-button color="basic" (click)="addCheckouItem(item)">
                <mat-icon>add</mat-icon>
              </button>
              <button mat-icon-button color="basic" (click)="reduceCheckouItem(item, i)">
                <mat-icon>remove</mat-icon>
              </button>
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="removeCheckouItem(i)">
                  Excluir item
                </button>
              </mat-menu>
            </div>
          </mat-card>
        </div>
      </mat-card>
      <mat-accordion multi>
        <mat-expansion-panel expanded="true">
          <mat-expansion-panel-header>
            <mat-panel-title>Digite o preço</mat-panel-title>
            <mat-panel-description fxLayout="row" fxLayoutAlign="end">
              <mat-icon>pin</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-card fxLayout="column" fxLayoutAlign="start center" style="height: 100%;">
            <div>
              <div>
                <button mat-raised-button (click)="concatValor('1')">1</button>
                <button mat-raised-button (click)="concatValor('2')">2</button>
                <button mat-raised-button (click)="concatValor('3')">3</button>
              </div>
              <div>
                <button mat-raised-button (click)="concatValor('4')">4</button>
                <button mat-raised-button (click)="concatValor('5')">5</button>
                <button mat-raised-button (click)="concatValor('6')">6</button>
              </div>
              <div>
                <button mat-raised-button (click)="concatValor('7')">7</button>
                <button mat-raised-button (click)="concatValor('8')">8</button>
                <button mat-raised-button (click)="concatValor('9')">9</button>
              </div>
              <div>
                <button mat-raised-button (click)="backspaceValor()">
                  <mat-icon>backspace</mat-icon>
                </button>
                <button mat-raised-button (click)="concatValor('0')">0</button>
                <button mat-raised-button (click)="concatValor('')">C</button>
              </div>
            </div>
            <div fxLayout="column" fxLayoutAlign="start center" fxFlex>
              <h1>{{ valorReal | currency:'BRL':'' }}</h1>
              <h2>{{ nome }}</h2>
              <button mat-raised-button color="primary" (click)="setCheckouItem();" [disabled]="!(valorReal > 0)">
                <mat-icon *ngIf="multi">autorenew</mat-icon>
                Adicionar
              </button>
            </div>
          </mat-card>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-drawer-content>
  </mat-drawer-container>
</div>