<div fxLayout="column" fxLayoutAlign="start none" style="height: 100%;">
  <mat-toolbar>
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <span fxFlex>{{ sum | currency:'BRL':'' }}</span>
    <span class="example-spacer"></span>
    <button mat-icon-button>
      <mat-icon matBadge="{{count}}" matBadgeOverlap="true">shopping_cart</mat-icon>
    </button>
  </mat-toolbar>
  <mat-accordion multi>
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Digite o preço
        </mat-panel-title>
        <mat-panel-description>
          <mat-icon>pin</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-card *ngIf="keyboard">
        <div>
          <button mat-raised-button (click)="concatValor('1')">1</button>
          <button mat-raised-button (click)="concatValor('2')">2</button>
          <button mat-raised-button (click)="concatValor('3')">3</button>
        </div>
        <div>
          <button mat-raised-button (click)="concatValor('4')">4</button>
          <button mat-raised-button (click)="concatValor('5')">5</button>
          <button mat-raised-button (click)="concatValor('6')">6</button>
        </div>
        <div>
          <button mat-raised-button (click)="concatValor('7')">7</button>
          <button mat-raised-button (click)="concatValor('8')">8</button>
          <button mat-raised-button (click)="concatValor('9')">9</button>
        </div>
        <div>
          <button mat-raised-button (click)="backspaceValor()">
            <mat-icon>backspace</mat-icon>
          </button>
          <button mat-raised-button (click)="concatValor('0')">0</button>
          <button mat-raised-button (click)="concatValor('.')">,</button>
        </div>
        <div>
          <button mat-raised-button color="primary" style="width: 100%;" (click)="setCheckouItem(valor);">
            <mat-icon *ngIf="multi">autorenew</mat-icon>
            &nbsp;{{valor}}
          </button>
        </div>
      </mat-card>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-card fxFlex style="overflow: auto;">
    <mat-list *ngFor="let item of items;let i = index">
      <mat-list-item>
        <button mat-icon-button (click)="removeCheckouItem(i)">
          <mat-icon>delete</mat-icon>
        </button>
        <span matBadge="{{ item.count>1 ? item.count : ''}}" matBadgeOverlap="false">
          {{item.valor | currency:'BRL':''}}
        </span>
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>