button {
  touch-action: manipulation;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-row-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.flex-1 {
  flex: 1;
  min-height: 0;
}

.example-spacer {
  flex: 1 1 auto;
}

.checkedClass {
  text-decoration: line-through;
  text-transform: lowercase;
  font-weight: normal;
}

.uncheckedClass {
  text-transform: capitalize;
  font-weight: bold;
}

#todo-list {
  position: fixed;
  top: auto;
  right: 30px;
  bottom: 60px;
  left: auto;
}
